NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

N8N_WEBHOOK_URL=http://localhost:5678/webhook-test/49bc5eaa-5cdf-448d-8b09-2e96cd01099d
N8N_SECRET=nimarasendthankyou
